/*import font*/
@import 'https://fonts.googleapis.com/css?family=Orbitron';


banner {
    text-align: center;
    color: white;
    font-family: monospace;
}

a {
    color: greenyellow;
}


.alert {
    padding: 20px;
    background-color: greenyellow;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

body {
    font-size: 16px;
    font-family: monospace;
    color: greenyellow;
    background: #222222;
    text-align: center;
    padding: 0;
}

footer {
    text-align: center;
}

banner {
    font-size: 16px;
    font-family: monospace;
    color: white;
    text-align: center;
}



::placeholder {
    color: greenyellow;
}

a:hover {
    color: greenyellow;
}

#content {
    max-width: 1000px;
    margin: auto;
    right: 2%;
    padding: 0;
}

#computer-con {
    color: greenyellow;
}


#sourfruit {
    color: greenyellow;
}


#header1 {
    font-size: 40px
}



